@import '../../base/mixins';
@import '../../base/variables';

.section-designer {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;

  @include tablet {
    margin-top: 19rem;
    margin-left: 0;
    margin-right: 0;
  }

  &__grid {
    justify-content: center;
    @media (min-width: 930px) {
      position: relative;
      // &::before {
      //   content: '<section>';
      //   white-space: pre;
      //   line-height: 3rem;
      //   font-family: 'La Belle Aurore', cursive;
      //   color: #515152;
      //   font-size: 1.8rem;
      //   position: relative;
      //   margin-bottom: 3rem;
      //   left: -4.8rem;
      //   body.dark & {
      //     opacity: 0.4;
      //   }
      // }
    }
    @include tablet {
      margin-left: 2rem;
      margin-right: 1rem;
      width: 760px;
      display: grid;
      padding: 0;
      gap: 1rem;
      & :nth-child(1) {
        grid-column: 1/2;
      }
      & :nth-child(2) {
        grid-column: 2/3;
      }
    }
    &__details {
      &__title {
        margin: 0;
        color: #ffffff;
        font-weight: 700;
        font-size: 3.2rem;
        margin-bottom: 1rem;
        @include tablet {
          font-size: 4.2rem;
          color: $white;
          margin: 0;
          margin-bottom: 1.8rem;
        }
      }
    }
    &__details p {
      margin-top: 0;
      margin-bottom: 2rem;
      font-size: 1.6rem;
      color: #ffffff;
      line-height: 2.5rem;
      @include tablet {
        font-size: 2rem;
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
      @include tablet {
        margin-top: 0;
      }
      &__settings {
        justify-content: center;
        align-items: center;
        width: 25rem;
        @include tablet {
          margin: 1rem 0rem 1rem 0rem;
          width: 24rem;
        }
      }
    }
  }
}

.link-designer {
  color: $white;
  text-decoration: underline;
  text-decoration-color: $orange;
  box-shadow: inset 0 0 0 0 $primary;
  transition: all ease 0.5s;
  body.dark & {
    color: $primary;
  }
  &:hover {
    text-decoration-color: $black;
    box-shadow: inset 200px 0 0 0 $white;
    color: $primary;
    body.dark & {
      text-decoration-color: $secondary;
      box-shadow: inset 200px 0 0 0 $primary;
      color: $secondary;
    }
  }
}
