// Fuentes
$principal_font: 'Inter', sans-serif;
$secundary_font: 'La Belle Aurore', cursive;
// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #141b1e;
$secondary: #f5f5f5;
$black: #000;
$white: #ffffff;
$lightGray: #ababab;
$orange: #f68d31;
// $orange: #ebbe08;

$separation: 5rem;
