@import '../../base/mixins';
@import '../../base/variables';

.camera {
  position: absolute;
  //   background-color: blue;
  display: flex;
  align-items: flex-start;

  &__flash {
    pointer-events: none;
    width: 18rem;
    z-index: 3;
    position: absolute;
    animation-name: flash-light;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
  &__soul {
    width: 18rem;
    z-index: 2;
    position: absolute;
  }
  &__photo {
    width: 18rem;
    z-index: 1;
    position: absolute;
    mask-size: cover;
    top: -30rem;
    animation-name: moveDownPhoto;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
  }
  &__body {
    width: 18rem;
    z-index: 0;
    position: relative;
  }
}

.polaroid-mask {
  position: absolute;
  margin-top: 2.1rem;
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  //   background-color: $orange;
  top: 14.5rem;
}

@keyframes moveDownPhoto {
  from {
    bottom: 0;
  }

  to {
    top: -140px;
  }
}
@keyframes flash-light {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
