@import '../../base/mixins';
@import '../../base/variables';

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  @include tablet {
    margin-top: 12rem;
    justify-content: space-between;
  }
  &__grid {
    margin-left: -4rem;
  }
  &__testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 800px;
    &__item {
      list-style: none;
    }
  }
}
.testimonial {
  margin: 0;
  margin-bottom: 12rem;

  &__body {
    &__quote {
      text-align: center;
      &__p {
        width: 93vw;
        font-size: 3.2rem;
        font-weight: 700;
        color: $white;
        margin: 0;
        position: relative;
        @include tablet {
          max-width: 768px;
        }
      }
      &__p::after {
        content: '';
        z-index: -1;
        background-image: url(../../../img/testimonials.svg);
        background-size: 7rem;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        width: 7rem;
        height: 7rem;
        position: absolute;
        top: -6.5rem;
        left: 0rem;
        transform: rotate(-180deg);
        body.dark & {
          background-image: url(../../../img/testimonials_white.svg);
        }
      }

      @media (min-width: 930px) {
        &__p::after {
          display: none;
        }
      }

      &__p::before {
        content: '';
        z-index: -1;
        background-image: url(../../../img/testimonials.svg);
        background-size: 7rem;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        width: 7rem;
        height: 7rem;
        position: absolute;
        bottom: -6rem;
        right: 0rem;
        body.dark & {
          background-image: url(../../../img/testimonials_white.svg);
        }
      }
    }
  }
}
